---
layout: default
---

<!-- Blurb about yourself using Markdown -->
<div class="about-me" style="text-align: center; margin-bottom: 20px;">
  <p>I am a PhD Student in the Computational Science, Engineering, and Mathematics program at the University of Texas at Austin with co-advisors <a href="https://oden.utexas.edu/people/directory/karen-willcox/">Prof. Karen Willcox</a> and <a href="https://sites.google.com/site/anirbanchaudhuri01/">Dr. Anirban Chaudhuri</a>. My research has revolved around developing fast and data-efficient multi-fidelity surrogate models with applications in inverse problems and optimization. I have had the great privilege to be funded by and contribute to the following projects during my PhD: <a href="https://www.darpa.mil/program/automating-scientific-knowledge-extraction-and-modeling">DARPA ASKEM</a> & <a href="https://arpa-e.energy.gov/technologies/projects/learning-optimal-aerodynamic-designs">ARPA-E LOADS</a>.</p>

  <p>
    <a href="https://scholar.google.com/citations?user=WjrNUIUAAAAJ&hl=en">
      <img src="https://img.shields.io/badge/Google%20Scholar-4285F4.svg?style=for-the-badge&logo=Google-Scholar&logoColor=white" alt="Google Scholar">
    </a>
    <a href="https://www.linkedin.com/in/vignesh-sella/">
      <img src="https://img.shields.io/badge/linkedin-%230077B5.svg?style=for-the-badge&logo=linkedin&logoColor=white" alt="LinkedIn">
    </a>
  </p>
</div>

<h2 style="text-align: center; font-size: 2em;">Recent Updates, Publications, and Projects</h2>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
